@using DataAccess.Model
@{
    ViewBag.Title = "Spravovat stavy problémů";
}
@using (Html.BeginForm("Create", "TicketStatus", FormMethod.Post))
{
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Přidat stav</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        @{ Html.RenderPartial("Add"); }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Přehled stavů</h6>
                </div>
                <div class="card-body">
                    <table class="table table-bordered dataTable">
                        <thead>
                        <tr>
                            <th>
                                Název
                            </th>
                            <th>
                                Popis
                            </th>
                            <th>
                                Akce
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @{ Html.RenderPartial("Listing", (List<TicketStatus>) ViewBag.statuses);}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  
}