@model DataAccess.Model.ControlCategory

@using (Html.BeginForm("Create", "ControlCategory", FormMethod.Post))
{
    <div class="col-md-5">
        <div class="form-group">
            <label>Jméno</label>
            @Html.TextBoxFor(x => x.Title, new {@class = "form-control"})
            @Html.ValidationMessageFor(x => x.Title)
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label>Popis</label>
            @Html.TextBoxFor(x => x.Description, new {@class = "form-control"})
            @Html.ValidationMessageFor(x => x.Description)
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Akce</label>
            <button class="btn btn-primary" type="submit">Vytvořit</button>
        </div>
    </div>

}